:host ::ng-deep .mat-form-field-flex {
    align-items: center !important;
    border: 1px solid;
    padding: 5px 10px;
    border-radius: 10px;
  }
  :host ::ng-deep .mat-form-field-wrapper {
    margin-bottom: 10px !important;
  }
  :host ::ng-deep .mat-form-field-infix {
    border: none !important;
    margin-left: 10px !important;
  }
  
  :host ::ng-deep .mat-form-field-underline {
    display: none !important;
  }
  :host ::ng-deep .mat-form-field {
    &.mat-focused {
      & .mat-form-field-flex {
        border-color: #292f45;
        transition: border-color 0.5s linear;
      }
    }
    &.mat-form-field-invalid  {
      & .mat-form-field-flex {
        border-color: #c00000;
        background-color: #ff47475e;
        transition: border-color 0.5s linear;
      }
    }
  }
  .hyperlink{
    color: #292f45;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
  }
  .form{
    display: flex;
    flex-direction: column;
  }