.reset-content {
  height: inherit;
  border-radius: 0 20px 20px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.hyperlink {
  color: #fff;
  text-decoration: none !important;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}
h1{
  color: #fff;
}